<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- 注解 -->
    <mvc:annotation-driven/>

    <!-- 扫描包 -->
    <context:component-scan base-package="com.youotech.usbmonitor.controller"/>

    <!-- 允许访问路径 -->
    <mvc:resources location="/resources/" mapping="/resources/**" cache-period="3600"/>

    <!-- 视图解析配置 -->
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="viewResolvers">
            <list>
                <bean class="org.springframework.web.servlet.view.BeanNameViewResolver"/>
                <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                    <property name="prefix" value="/WEB-INF/views/"/>
                    <property name="suffix" value=".jsp"/>
                </bean>
            </list>
        </property>
        <property name="defaultViews">
            <list>
                <bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>
            </list>
        </property>
    </bean>

    <mvc:view-controller path="/" view-name="login"/>
    <mvc:view-controller path="/home" view-name="home"/>
    <mvc:view-controller path="/index" view-name="index"/>
    <mvc:view-controller path="/top" view-name="top"/>
    <mvc:view-controller path="/left" view-name="left"/>
    <mvc:view-controller path="/updatePwd" view-name="updatePwd"/>
    <mvc:view-controller path="/typeList" view-name="TypeList"/>
    <mvc:view-controller path="/sMPlatform" view-name="SMPlatform"/>
    <mvc:view-controller path="/illegalDevice" view-name="IllegalDevice"/>


    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <!-- springMVC统一异常处理 -->
    <bean id="exceptionResolver" class="com.youotech.usbmonitor.exception.ExceptionHandler"/>

    <!-- 文件上传配置 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxUploadSize" value="524288000"/>
        <property name="resolveLazily" value="true"/>
    </bean>

    <!-- 拦截器 -->
    <mvc:interceptors>
        <!-- 多个拦截器，顺序执行 -->
        <mvc:interceptor>
            <mvc:mapping path="/**"/><!-- 拦截哪些请求的设置 -->
            <mvc:exclude-mapping path="/resources/**"/><!-- 使用拦截器时，需加上这句话，否则静态资源被拦截 -->
            <bean class="com.youotech.usbmonitor.interceptor.LoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>