<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youotech.usbmonitor.dao.IllegalDeviceMapper">
    <resultMap id="BaseResultMap" type="com.youotech.usbmonitor.bo.IllegalDevice">
        <id column="ID_ID" property="id_Id" jdbcType="INTEGER"/>
        <result column="ID_IP" property="id_Ip" jdbcType="VARCHAR"/>
        <result column="ID_TYPE" property="id_Type" jdbcType="VARCHAR"/>
        <result column="ID_MAC" property="id_Mac" jdbcType="VARCHAR"/>
        <result column="ID_USRNAME" property="id_UsrName" jdbcType="VARCHAR"/>
        <result column="ID_HOSTNAME" property="id_HostName" jdbcType="VARCHAR"/>
        <result column="ID_DATE" property="id_Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID_ID,ID_IP,ID_TYPE,ID_MAC,ID_USRNAME,ID_HOSTNAME,ID_DATE
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from usb_illegaldevice
        where ID_ID = #{id_Id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from usb_illegaldevice
        where ID_ID = #{id_Id,jdbcType=INTEGER}
    </delete>

    <!--<insert id="insert" parameterType="com.youotech.usbmonitor.bo.IllegalDevice">
        insert into usb_illegaldevice (<include refid="Base_Column_List"/>)
        values (#{srId,jdbcType=INTEGER}, #{sdType,jdbcType=VARCHAR}, #{srType,jdbcType=VARCHAR},#{srDate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.youotech.usbmonitor.bo.IllegalDevice">
        insert into SE_RULES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="srId != null">
                SR_ID,
            </if>
            <if test="sdType != null">
                SD_TYPE,
            </if>
            <if test="srType != null">
                SR_TYPE,
            </if>
            <if test="srDate != null">
                ID_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="srId != null">
                #{srId,jdbcType=INTEGER},
            </if>
            <if test="sdType != null">
                #{sdType,jdbcType=VARCHAR},
            </if>
            <if test="srType != null">
                #{srType,jdbcType=VARCHAR},
            </if>
            <if test="srDate != null">
                #{srDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.youotech.usbmonitor.bo.IllegalDevice">
        update SE_RULES
        <set>
            <if test="sdType != null">
                SD_TYPE = #{sdType,jdbcType=VARCHAR},
            </if>
            <if test="srType != null">
                SR_TYPE = #{srType,jdbcType=VARCHAR},
            </if>
            <if test="srDate != null">
                ID_DATE = #{srDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where SR_ID = #{srId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.youotech.usbmonitor.bo.IllegalDevice">
    update SE_RULES
    set SD_TYPE = #{sdType,jdbcType=VARCHAR},
      SR_TYPE = #{srType,jdbcType=VARCHAR},
      ID_DATE = #{srDate,jdbcType=TIMESTAMP}
    where SR_ID = #{srId,jdbcType=INTEGER}
  </update>-->

    <select id="findByParam" resultMap="BaseResultMap" parameterType="com.youotech.usbmonitor.bo.IllegalDevice">
        SELECT
        <include refid="Base_Column_List"/>
        FROM usb_illegaldevice
        <trim prefix="where" prefixOverrides="and">
            <if test="id_Id != null">
                and ID_ID = #{id_Id,jdbcType=INTEGER}
            </if>
            <if test="id_Ip != null">
                and ID_IP = #{id_Ip,jdbcType=VARCHAR}
            </if>
            <if test="id_Type != null">
                and ID_TYPE = #{id_Type,jdbcType=VARCHAR}
            </if>
            <if test="id_Mac != null">
                and ID_MAC = #{id_Mac,jdbcType=VARCHAR}
            </if>
            <if test="id_UsrName != null">
                and ID_USRNAME = #{id_UsrName,jdbcType=VARCHAR}
            </if>
            <if test="id_HostName != null">
                and ID_HOSTNAME = #{id_HostName,jdbcType=VARCHAR}
            </if>
            <if test="id_Date != null">
                and ID_DATE = #{id_Date,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </select>

    <select id="findByParamPage" resultMap="BaseResultMap" parameterType="com.youotech.usbmonitor.bo.IllegalDevice">
        SELECT
        <include refid="Base_Column_List"/>
        FROM usb_illegaldevice
        <trim prefix="where" prefixOverrides="and">
            <if test="id_Id != null">
                and ID_ID = #{id_Id,jdbcType=INTEGER}
            </if>
            <if test="id_Ip != null">
                and  ID_IP = #{id_Ip,jdbcType=VARCHAR}
            </if>
            <if test="id_Type != null">
                and  ID_TYPE = #{id_Type,jdbcType=VARCHAR}
            </if>
            <if test="id_Mac != null">
                and  ID_MAC = #{id_Mac,jdbcType=VARCHAR}
            </if>
            <if test="id_UsrName != null">
                and  ID_USRNAME = #{id_UsrName,jdbcType=VARCHAR}
            </if>
            <if test="id_HostName != null">
                and  ID_HOSTNAME = #{id_HostName,jdbcType=VARCHAR}
            </if>
            <if test="id_Date != null">
                and ID_DATE = #{id_Date,jdbcType=TIMESTAMP}
            </if>
        </trim>
        ORDER BY ID_DATE
        limit ${start},${end}
    </select>

    <delete id="deleteByIds" parameterType="java.lang.Integer">
        delete FROM usb_illegaldevice
        where  usb_illegaldevice.ID_ID IN
        <foreach collection="list" item="id_Ids" open="(" separator="," close=")">
            #{id_Ids}
        </foreach>
    </delete>
</mapper>