<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youotech.securitysystem.dao.SePortMapper" >
  <resultMap id="BaseResultMap" type="com.youotech.securitysystem.bo.SePort" >
    <id column="SP_ID" property="spId" jdbcType="INTEGER" />
    <result column="SD_ID" property="sdId" jdbcType="INTEGER" />
    <result column="SP_TYPE" property="spType" jdbcType="VARCHAR" />
    <result column="SP_PORT" property="spPort" jdbcType="INTEGER" />
    <result column="SP_DATE" property="spDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    SP_ID, SD_ID, SP_TYPE, SP_PORT, SP_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from SE_PORT
    where SP_ID = #{spId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from SE_PORT
    where SP_ID = #{spId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.youotech.securitysystem.bo.SePort" >
    insert into SE_PORT (SP_ID, SD_ID, SP_TYPE, 
      SP_PORT, SP_DATE)
    values (#{spId,jdbcType=INTEGER}, #{sdId,jdbcType=INTEGER}, #{spType,jdbcType=VARCHAR}, 
      #{spPort,jdbcType=INTEGER}, #{spDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.youotech.securitysystem.bo.SePort" >
    insert into SE_PORT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="spId != null" >
        SP_ID,
      </if>
      <if test="sdId != null" >
        SD_ID,
      </if>
      <if test="spType != null" >
        SP_TYPE,
      </if>
      <if test="spPort != null" >
        SP_PORT,
      </if>
      <if test="spDate != null" >
        SP_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="spId != null" >
        #{spId,jdbcType=INTEGER},
      </if>
      <if test="sdId != null" >
        #{sdId,jdbcType=INTEGER},
      </if>
      <if test="spType != null" >
        #{spType,jdbcType=VARCHAR},
      </if>
      <if test="spPort != null" >
        #{spPort,jdbcType=INTEGER},
      </if>
      <if test="spDate != null" >
        #{spDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youotech.securitysystem.bo.SePort" >
    update SE_PORT
    <set >
      <if test="sdId != null" >
        SD_ID = #{sdId,jdbcType=INTEGER},
      </if>
      <if test="spType != null" >
        SP_TYPE = #{spType,jdbcType=VARCHAR},
      </if>
      <if test="spPort != null" >
        SP_PORT = #{spPort,jdbcType=INTEGER},
      </if>
      <if test="spDate != null" >
        SP_DATE = #{spDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SP_ID = #{spId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youotech.securitysystem.bo.SePort" >
    update SE_PORT
    set SD_ID = #{sdId,jdbcType=INTEGER},
      SP_TYPE = #{spType,jdbcType=VARCHAR},
      SP_PORT = #{spPort,jdbcType=INTEGER},
      SP_DATE = #{spDate,jdbcType=TIMESTAMP}
    where SP_ID = #{spId,jdbcType=INTEGER}
  </update>
    <!--批量插入端口信息-->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO SE_PORT (SD_ID, SP_TYPE, SP_PORT, SP_DATE)
        VALUES
            <foreach collection="list" item="item" index="index" separator=",">
                (#{item.sdId,jdbcType=INTEGER},#{item.spType,jdbcType=VARCHAR},#{item.spPort,jdbcType=INTEGER},curdate()))
            </foreach>
    </insert>
</mapper>