<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youotech.securitysystem.dao.SeRulesMapper">
    <resultMap id="BaseResultMap" type="com.youotech.securitysystem.bo.SeRules">
        <id column="SR_ID" property="srId" jdbcType="INTEGER"/>
        <result column="SD_TYPE" property="sdType" jdbcType="VARCHAR"/>
        <result column="SD_OS" property="sdOs" jdbcType="VARCHAR"/>
        <result column="SD_OSTYPE" property="sdOstype" jdbcType="VARCHAR"/>
        <result column="SR_TYPE" property="srType" jdbcType="INTEGER"/>
        <result column="SR_RNAME" property="srRname" jdbcType="VARCHAR"/>
        <result column="SR_RULES" property="srRules" jdbcType="INTEGER"/>
        <result column="SR_DATE" property="srDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="scanPortMap" type="com.youotech.securitysystem.bo.SeRules">
        <result column="SD_OS" property="sdOs" jdbcType="VARCHAR"/>
        <result column="SR_TYPE" property="srType" jdbcType="INTEGER"/>
        <result column="SR_RNAME" property="srRname" jdbcType="VARCHAR"/>
        <result column="SR_RULEs" property="srRules" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    SR_ID, SD_TYPE, SD_OS, SD_OSTYPE, SR_TYPE, SR_RNAME, SR_RULES, SR_DATE
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from SE_RULES
        where SR_ID = #{srId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from SE_RULES
    where SR_ID = #{srId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.youotech.securitysystem.bo.SeRules">
    insert into SE_RULES (SR_ID, SD_TYPE, SD_OS, 
      SD_OSTYPE, SR_TYPE, SR_RNAME, 
      SR_RULES, SR_DATE)
    values (#{srId,jdbcType=INTEGER}, #{sdType,jdbcType=VARCHAR}, #{sdOs,jdbcType=VARCHAR}, 
      #{sdOstype,jdbcType=VARCHAR}, #{srType,jdbcType=INTEGER}, #{srRname,jdbcType=VARCHAR}, 
      #{srRules,jdbcType=INTEGER}, #{srDate,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.youotech.securitysystem.bo.SeRules">
        insert into SE_RULES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="srId != null">
                SR_ID,
            </if>
            <if test="sdType != null">
                SD_TYPE,
            </if>
            <if test="sdOs != null">
                SD_OS,
            </if>
            <if test="sdOstype != null">
                SD_OSTYPE,
            </if>
            <if test="srType != null">
                SR_TYPE,
            </if>
            <if test="srRname != null">
                SR_RNAME,
            </if>
            <if test="srRules != null">
                SR_RULES,
            </if>
            <if test="srDate != null">
                SR_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="srId != null">
                #{srId,jdbcType=INTEGER},
            </if>
            <if test="sdType != null">
                #{sdType,jdbcType=VARCHAR},
            </if>
            <if test="sdOs != null">
                #{sdOs,jdbcType=VARCHAR},
            </if>
            <if test="sdOstype != null">
                #{sdOstype,jdbcType=VARCHAR},
            </if>
            <if test="srType != null">
                #{srType,jdbcType=INTEGER},
            </if>
            <if test="srRname != null">
                #{srRname,jdbcType=VARCHAR},
            </if>
            <if test="srRules != null">
                #{srRules,jdbcType=INTEGER},
            </if>
            <if test="srDate != null">
                #{srDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.youotech.securitysystem.bo.SeRules">
        update SE_RULES
        <set>
            <if test="sdType != null">
                SD_TYPE = #{sdType,jdbcType=VARCHAR},
            </if>
            <if test="sdOs != null">
                SD_OS = #{sdOs,jdbcType=VARCHAR},
            </if>
            <if test="sdOstype != null">
                SD_OSTYPE = #{sdOstype,jdbcType=VARCHAR},
            </if>
            <if test="srType != null">
                SR_TYPE = #{srType,jdbcType=INTEGER},
            </if>
            <if test="srRname != null">
                SR_RNAME = #{srRname,jdbcType=VARCHAR},
            </if>
            <if test="srRules != null">
                SR_RULES = #{srRules,jdbcType=INTEGER},
            </if>
            <if test="srDate != null">
                SR_DATE = #{srDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where SR_ID = #{srId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.youotech.securitysystem.bo.SeRules">
    update SE_RULES
    set SD_TYPE = #{sdType,jdbcType=VARCHAR},
      SD_OS = #{sdOs,jdbcType=VARCHAR},
      SD_OSTYPE = #{sdOstype,jdbcType=VARCHAR},
      SR_TYPE = #{srType,jdbcType=INTEGER},
      SR_RNAME = #{srRname,jdbcType=VARCHAR},
      SR_RULES = #{srRules,jdbcType=INTEGER},
      SR_DATE = #{srDate,jdbcType=TIMESTAMP}
    where SR_ID = #{srId,jdbcType=INTEGER}
  </update>
    <select id="findByParam" parameterType="com.youotech.securitysystem.bo.SeRules" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM SE_RULES
        <trim prefix="where" prefixOverrides="and">
            <if test="srId != null">
                and SR_ID = #{srId,jdbcType=INTEGER}
            </if>
            <if test="sdType != null">
                and  SD_TYPE = #{sdType,jdbcType=VARCHAR}
            </if>
            <if test="sdOs != null">
                and  SD_OS = #{sdOs,jdbcType=VARCHAR}
            </if>
            <if test="sdOstype != null">
                and  SD_OSTYPE = #{sdOstype,jdbcType=VARCHAR}
            </if>
            <if test="srType != null">
                and  SR_TYPE = #{srType,jdbcType=INTEGER}
            </if>
            <if test="srRname != null">
                and  SR_RNAME = #{srRname,jdbcType=VARCHAR}
            </if>
            <if test="srRules != null">
                and SR_RULES = #{srRules,jdbcType=INTEGER}
            </if>
            <if test="srDate != null">
                and SR_DATE = #{srDate,jdbcType=TIMESTAMP}
            </if>
        </trim>
        ORDER BY SR_DATE DESC
    </select>
    <select id="findByParamPage" resultMap="BaseResultMap" parameterType="com.youotech.securitysystem.bo.SeRules">
        SELECT
        <include refid="Base_Column_List"/>
        FROM SE_RULES
        <trim prefix="where" prefixOverrides="and">
            <if test="srId != null">
                and SR_ID = #{srId,jdbcType=INTEGER}
            </if>
            <if test="sdType != null">
                and SD_TYPE = #{sdType,jdbcType=VARCHAR}
            </if>
            <if test="sdOs != null">
                and SD_OS = #{sdOs,jdbcType=VARCHAR}
            </if>
            <if test="sdOstype != null">
                and SD_OSTYPE = #{sdOstype,jdbcType=VARCHAR}
            </if>
            <if test="srType != null">
                and SR_TYPE = #{srType,jdbcType=INTEGER}
            </if>
            <if test="srRname != null">
                and SR_RNAME = #{srRname,jdbcType=VARCHAR}
            </if>
            <if test="srRules != null">
                and  SR_RULES = #{srRules,jdbcType=INTEGER}
            </if>
            <if test="srDate != null">
                and SR_DATE = #{srDate,jdbcType=TIMESTAMP}
            </if>
        </trim>
        ORDER BY SR_ID DESC
        limit ${start},${end}
    </select>

    <delete id="deleteByIds" parameterType="java.lang.Integer">
        delete FROM SE_RULES
        where  SR_ID IN
        <foreach collection="list" item="srIds" open="(" separator="," close=")">
            #{srIds}
        </foreach>
    </delete>

    <select id="findByDevice" resultMap="scanPortMap">
        SELECT concat(SD_OS,' ',SD_OSTYPE) AS 'SD_OS',SR_TYPE,SR_RNAME,SR_RULES FROM SE_RULES WHERE SD_TYPE='终端设备';
    </select>
</mapper>