<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youotech.securitysystem.dao.SeServerMapper">
    <resultMap id="BaseResultMap" type="com.youotech.securitysystem.bo.SeServer">
        <id column="SV_ID" property="svId" jdbcType="INTEGER"/>
        <result column="SD_ID" property="sdId" jdbcType="INTEGER"/>
        <result column="SV_TELNET" property="svTelnet" jdbcType="INTEGER"/>
        <result column="SV_SSH" property="svSsh" jdbcType="INTEGER"/>
        <result column="SV_HTTP" property="svHttp" jdbcType="INTEGER"/>
        <result column="SV_DATE" property="svDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    SV_ID, SD_IP, SV_DATE
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from SE_SERVER
        where SV_ID = #{svId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from SE_SERVER
    where SV_ID = #{svId,jdbcType=INTEGER}
  </delete>
    <!--<insert id="insert" parameterType="com.youotech.securitysystem.bo.SeServer">-->
    <!--insert into SE_SERVER (SV_ID, SD_ID, SV_TELNET, -->
    <!--SV_SSH, SV_HTTP, SV_DATE-->
    <!--)-->
    <!--values (#{svId,jdbcType=INTEGER}, #{sdId,jdbcType=INTEGER}, #{svTelnet,jdbcType=INTEGER}, -->
    <!--#{svSsh,jdbcType=INTEGER}, #{svHttp,jdbcType=INTEGER}, #{svDate,jdbcType=TIMESTAMP}-->
    <!--)-->
    <!--</insert>SV_ID是主键,不好确定值,方法下面重写了-->
    <insert id="insertSelective" parameterType="com.youotech.securitysystem.bo.SeServer">
        insert into SE_SERVER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="svId != null">
                SV_ID,
            </if>
            <if test="sdId != null">
                SD_ID,
            </if>
            <if test="svTelnet != null">
                SV_TELNET,
            </if>
            <if test="svSsh != null">
                SV_SSH,
            </if>
            <if test="svHttp != null">
                SV_HTTP,
            </if>
            <if test="svDate != null">
                SV_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="svId != null">
                #{svId,jdbcType=INTEGER},
            </if>
            <if test="sdId != null">
                #{sdId,jdbcType=INTEGER},
            </if>
            <if test="svTelnet != null">
                #{svTelnet,jdbcType=INTEGER},
            </if>
            <if test="svSsh != null">
                #{svSsh,jdbcType=INTEGER},
            </if>
            <if test="svHttp != null">
                #{svHttp,jdbcType=INTEGER},
            </if>
            <if test="svDate != null">
                #{svDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.youotech.securitysystem.bo.SeServer">
        update SE_SERVER
        <set>
            <if test="sdId != null">
                SD_ID = #{sdId,jdbcType=INTEGER},
            </if>
            <if test="svTelnet != null">
                SV_TELNET = #{svTelnet,jdbcType=INTEGER},
            </if>
            <if test="svSsh != null">
                SV_SSH = #{svSsh,jdbcType=INTEGER},
            </if>
            <if test="svHttp != null">
                SV_HTTP = #{svHttp,jdbcType=INTEGER},
            </if>
            <if test="svDate != null">
                SV_DATE = #{svDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where SV_ID = #{svId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.youotech.securitysystem.bo.SeServer">
    update SE_SERVER
    set SD_ID = #{sdId,jdbcType=INTEGER},
      SV_TELNET = #{svTelnet,jdbcType=INTEGER},
      SV_SSH = #{svSsh,jdbcType=INTEGER},
      SV_HTTP = #{svHttp,jdbcType=INTEGER},
      SV_DATE = #{svDate,jdbcType=TIMESTAMP}
    where SV_ID = #{svId,jdbcType=INTEGER}
  </update>

    <select id="findByParam" parameterType="com.youotech.securitysystem.bo.SeServer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM SE_SERVER
        <trim prefix="where" prefixOverrides="and">
            <if test="svId != null">
                AND SV_ID = #{svId,jdbcType=INTEGER}
            </if>
            <if test="sdId != null">
                AND SD_ID = #{sdId,jdbcType=INTEGER}
            </if>
            <if test="svTelnet != null">
                AND SV_TELNET = #{svTelnet,jdbcType=INTEGER}
            </if>
            <if test="svSsh != null">
                AND SV_SSH = #{svSsh,jdbcType=INTEGER}
            </if>
            <if test="svHttp != null">
                AND SV_HTTP = #{svHttp,jdbcType=INTEGER}
            </if>
            <if test="svDate != null">
                and SV_DATE = #{svDate,jdbcType=TIMESTAMP}
            </if>
        </trim>
        ORDER BY SV_DATE DESC
    </select>

    <select id="findByParamPage" resultMap="BaseResultMap" parameterType="com.youotech.securitysystem.bo.SeServer">
        SELECT
        <include refid="Base_Column_List"/>
        FROM SE_SERVER
        <trim prefix="where" prefixOverrides="and">
            <if test="svId != null">
                AND SV_ID = #{svId,jdbcType=INTEGER}
            </if>
            <if test="sdId != null">
                AND SD_ID = #{sdId,jdbcType=INTEGER}
            </if>
            <if test="svTelnet != null">
                AND SV_TELNET = #{svTelnet,jdbcType=INTEGER}
            </if>
            <if test="svSsh != null">
                AND SV_SSH = #{svSsh,jdbcType=INTEGER}
            </if>
            <if test="svHttp != null">
                AND SV_HTTP = #{svHttp,jdbcType=INTEGER}
            </if>
            <if test="svDates != null">
                and date_format(SV_DATE,'%Y-%m-%d') = #{svDates}
            </if>
        </trim>
        limit ${start},${end}
    </select>
    <!--插入扫描到的网络设备服务-->
    <insert id="insert" parameterType="com.youotech.securitysystem.bo.SeServer">
        INSERT INTO SE_SERVER(SD_ID, SV_TELNET, SV_SSH, SV_HTTP, SV_DATE) VALUES (#{sdId,jdbcType=INTEGER},#{svTelnet,jdbcType=INTEGER},#{svSsh,jdbcType=INTEGER},#{svHttp,jdbcType=INTEGER},CURDATE())
    </insert>
</mapper>