<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youotech.usbmonitor.dao.SMPlatformMapper" >
    <resultMap id="BaseResultMap" type="com.youotech.usbmonitor.bo.SMPlatform" >
        <id column="PN_id" property="pn_Id" jdbcType="INTEGER" />
        <result column="PN_NUMBER" property="pn_Number" jdbcType="VARCHAR" />
        <result column="PN_DATE" property="pn_Date" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        PN_ID,PN_NUMBER,PN_DATE
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from usb_phonenumber
        where PN_ID = #{pn_Id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from usb_phonenumber
        where PN_ID = #{pn_Id,jdbcType=INTEGER}
    </delete>
    
    <insert id="insert" parameterType="com.youotech.usbmonitor.bo.SMPlatform">
        insert into usb_phonenumber (PN_ID, PN_NUMBER, PN_DATE)
        values (#{pn_Id,jdbcType=INTEGER},#{pn_Number,jdbcType=VARCHAR}, #{pn_Date,jdbcType=TIMESTAMP})
    </insert>
    
    <insert id="insertSelective" parameterType="com.youotech.usbmonitor.bo.SMPlatform">
        insert into usb_phonenumber
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pn_Id != null">
                PN_ID,
            </if>
            <if test="pn_Number != null">
                PN_NUMBER,
            </if>
            <if test="pn_Date != null">
                PN_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pn_Id != null">
                #{pn_Id,jdbcType=INTEGER},
            </if>
            <if test="pn_Number != null">
                #{pn_Number,jdbcType=VARCHAR},
            </if>
            <if test="pn_Date != null">
                #{pn_Date,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    
    <update id="updateByPrimaryKeySelective" parameterType="com.youotech.usbmonitor.bo.SMPlatform">
        update usb_phonenumber
        <set>
            <if test="pn_Number != null">
                PN_NUMBER = #{pn_Number,jdbcType=VARCHAR},
            </if>
            <if test="pn_Date != null">
                PN_DATE = #{pn_Date,jdbcType=TIMESTAMP},
            </if>
        </set>
        where PN_ID = #{pn_Id,jdbcType=INTEGER}
    </update>
    
    <update id="updateByPrimaryKey" parameterType="com.youotech.usbmonitor.bo.SMPlatform">
        update usb_phonenumber
        set PN_NUMBER = #{pn_Number,jdbcType=VARCHAR},
            PN_DATE = #{pn_Date,jdbcType=TIMESTAMP}
        where PN_ID = #{pn_Id,jdbcType=INTEGER}
    </update>
    
    <select id="findByParamFuzzy" resultMap="BaseResultMap" parameterType="com.youotech.usbmonitor.bo.SMPlatform">
        SELECT
        <include refid="Base_Column_List"/>
        FROM usb_phonenumber
        <trim prefix="where" prefixOverrides="and">
            <if test="pn_Id != null">
                and PN_ID = #{pn_Id,jdbcType=INTEGER}
            </if>
            <if test="pn_Number != null">
                and PN_NUMBER = #{pn_Number,jdbcType=VARCHAR}
            </if>
            <if test="pn_Date != null">
                and PN_DATE = #{pn_Date,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </select>

    <select id="findByParamPage" resultMap="BaseResultMap" parameterType="com.youotech.usbmonitor.bo.SMPlatform">
        SELECT
        <include refid="Base_Column_List"/>
        FROM usb_phonenumber
        <trim prefix="where" prefixOverrides="and">
            <if test="pn_Id != null">
                and PN_ID = #{pn_Id,jdbcType=INTEGER}
            </if>
            <if test="pn_Number != null">
                and PN_NUMBER = #{pn_Number,jdbcType=VARCHAR}
            </if>
            <if test="pn_Date != null">
                and PN_DATE = #{pn_Date,jdbcType=TIMESTAMP}
            </if>
        </trim>
        limit ${start},${end}
    </select>
    
    <!--<select id="insteadDeviceID" parameterType="com.youotech.usbmonitor.bo.SMPlatform" resultMap="insteadMap">
        SELECT SD_ID,#{siType,jdbcType=VARCHAR} AS 'SoftwareType',#{pn_Number,jdbcType=VARCHAR} AS 'SoftwareName',#{pn_Date,jdbcType=VARCHAR} AS 'FindTime' FROM SE_DEVICE WHERE SD_MAC = #{sdMac,jdbcType=VARCHAR} LIMIT 1
    </select>-->

    <select id="findByParamPagePlus" resultMap="BaseResultMap" parameterType="com.youotech.usbmonitor.bo.SMPlatform">
        SELECT
        <include refid="Base_Column_List"/>
        FROM usb_phonenumber t, SE_DEVICE t1
        <trim prefix="where" prefixOverrides="and">
            t.SD_ID=t1.SD_ID
            <if test="pn_Id != null">
                and PN_ID = #{pn_Id,jdbcType=INTEGER}
            </if>
            <if test="pn_Number != null">
                and PN_NUMBER = #{pn_Number,jdbcType=VARCHAR}
            </if>
            <if test="pn_Date != null">
                and PN_DATE = #{pn_Date,jdbcType=TIMESTAMP}
            </if>
        </trim>
        limit ${start},${end}
    </select>

    <delete id="deleteByIds" parameterType="java.lang.Integer">
        DELETE FROM usb_phonenumber WHERE usb_phonenumber.PN_ID IN
        <foreach collection="list" item="siIds" open="(" separator="," close=")">
            #{siIds}
        </foreach>
    </delete>

    <!--根据设备ID查询记录-->
    <!--<select id="selectBySdId" resultType="java.lang.String">
        SELECT PN_NUMBER FROM usb_phonenumber WHERE SD_ID=#{arg0}
    </select>-->
    <!--删除SE_INSTALLED中的所有数据-->
    <delete id="deleteInstalled">
        DELETE FROM usb_phonenumber;
    </delete>
    
</mapper>