<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youotech.securitysystem.dao.TypeListMapper" >
    <resultMap id="BaseResultMap" type="com.youotech.securitysystem.bo.TypeList" >
        <id column="TL_ID" property="tl_Id" jdbcType="INTEGER" />
        <id column="TL_TYPE" property="tl_Type" jdbcType="VARCHAR" />
        <id column="TL_PATH" property="tl_Path" jdbcType="VARCHAR" />
        <id column="TL_ALLOW" property="tl_Allow" jdbcType="VARCHAR" />
        <id column="TL_DATE" property="tl_Date" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        TL_ID,TL_TYPE,TL_PATH,TL_ALLOW,TL_DATE
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from usb_typelist
        where TL_ID = #{tl_Id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from usb_typelist
        where TL_ID = #{tl_Id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.youotech.securitysystem.bo.TypeList">
        insert into
        usb_typelist
        (<include refid="Base_Column_List"/>)
        values
        (#{tl_Id,jdbcType=INTEGER},
        #{tl_Type,jdbcType=VARCHAR},
        #{tl_Path,jdbcType=VARCHAR},
        #{tl_Allow,jdbcType=VARCHAR},
        #{tl_Date,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.youotech.securitysystem.bo.TypeList">
        insert into usb_typelist
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tl_Id != null">
                TL_ID,
            </if>
            <if test="tl_Type != null">
                TL_TYPE,
            </if>
            <if test="tl_Path != null">
                TL_PATH,
            </if>
            <if test="tl_Allow != null">
                TL_ALLOW,
            </if>
            <if test="tl_Date != null">
                TL_DATE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tl_Id != null">
                #{tl_Id,jdbcType=INTEGER},
            </if>
            <if test="tl_Type != null">
                #{tl_Type,jdbcType=VARCHAR},
            </if>
            <if test="tl_Path != null">
                #{tl_Path,jdbcType=VARCHAR},
            </if>
            <if test="tl_Allow != null">
                #{tl_Allow,jdbcType=VARCHAR},
            </if>
            <if test="tl_Date != null">
                #{tl_Date,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.youotech.securitysystem.bo.TypeList">
        update usb_typelist
        <set>
            <if test="tl_Type != null">
                TL_TYPE = #{tl_Type,jdbcType=VARCHAR},
            </if>
            <if test="tl_Path != null">
                TL_PATH = #{tl_Path,jdbcType=VARCHAR},
            </if>
            <if test="tl_Allow != null">
                TL_ALLOW = #{tl_Allow,jdbcType=VARCHAR},
            </if>
        </set>
        where TL_ID = #{tl_Id,jdbcType=INTEGER}
    </update>

    <!--<update id="updateByPrimaryKey" parameterType="com.youotech.securitysystem.bo.TypeList">
    update usb_typelist
    set TL_TYPE = #{tl_Type,jdbcType=VARCHAR},
      SD_DATE = #{sdDate,jdbcType=TIMESTAMP}
    where TL_ID = #{tl_Id,jdbcType=INTEGER}
  </update>-->
    <!--批量插入自动获取的设备信息-->
    <!--<insert id="autoInsert" parameterType="java.util.List" >
        INSERT INTO usb_typelist(SD_TYPE,SD_DATE)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.deviceType,jdbcType=VARCHAR},CURDATE())
        </foreach>
    </insert>-->

    <select id="findByParam" parameterType="com.youotech.securitysystem.bo.TypeList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM usb_typelist
        <trim prefix="where" prefixOverrides="and">
            <if test="tl_Id != null">
                and TL_ID = #{tl_Id,jdbcType=INTEGER}
            </if>
            <if test="tl_Type != null">
                and TL_Type = #{tl_Type,jdbcType=VARCHAR}
            </if>
            <if test="tl_Path != null">
                and TL_Path = #{tl_Path,jdbcType=VARCHAR}
            </if>
            <if test="tl_Allow != null">
                and TL_Allow = #{tl_Allow,jdbcType=VARCHAR}
            </if>
            <if test="tl_Date != null">
                and TL_Date = #{tl_Date,jdbcType=TIMESTAMP}
            </if>
        </trim>
        ORDER BY TL_ID
    </select>
    <select id="findEntityByParamFuzzy" parameterType="com.youotech.securitysystem.bo.TypeList"
            resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM usb_typelist
        <trim prefix="where" prefixOverrides="and">
            <if test="tl_Id != null">
                and TL_ID = #{tl_Id,jdbcType=INTEGER}
            </if>
            <if test="tl_Type != null">
                and TL_Type = #{tl_Type,jdbcType=VARCHAR}
            </if>
            <if test="tl_Path != null">
                and TL_Path = #{tl_Path,jdbcType=VARCHAR}
            </if>
            <if test="tl_Allow != null">
                and TL_Allow = #{tl_Allow,jdbcType=VARCHAR}
            </if>
            <if test="tl_Date != null">
                and TL_Date = #{tl_Date,jdbcType=TIMESTAMP}
            </if>
        </trim>
        ORDER BY TL_ID
    </select>

    <select id="findByParamPage" resultMap="BaseResultMap" parameterType="com.youotech.securitysystem.bo.TypeList">
        SELECT
        <include refid="Base_Column_List"/>
        FROM usb_typelist
        <trim prefix="where" prefixOverrides="and">
            <if test="tl_Id != null">
                and TL_ID = #{tl_Id,jdbcType=INTEGER}
            </if>
            <if test="tl_Type != null">
                and TL_Type = #{tl_Type,jdbcType=VARCHAR}
            </if>
            <if test="tl_Path != null">
                and TL_Path = #{tl_Path,jdbcType=VARCHAR}
            </if>
            <if test="tl_Allow != null">
                and TL_Allow = #{tl_Allow,jdbcType=VARCHAR}
            </if>
            <if test="tl_Date != null">
                and TL_Date = #{tl_Date,jdbcType=TIMESTAMP}
            </if>
        </trim>
        ORDER BY TL_ID
        limit ${start},${end}
    </select>
    
    <delete id="deleteByIds" parameterType="java.lang.Integer">
        DELETE FROM usb_typelist WHERE TL_ID IN
        <foreach collection="list" item="tl_Ids" open="(" separator="," close=")">
            #{tl_Ids}
        </foreach>
    </delete>

</mapper>